* {
    /* background-color: #00ffffff; */
}

body {
    background-color: rgba(102, 140, 255, 0.25);
}

h1 {
    user-select: none;
}

.container {
    display: flex;
    justify-content: center;
}

.child {
    position: absolute;
    top: 50%;
    margin-top: -25px;
}